
        <footer class="page-footer center-on-small-only">
            <div class="footer-copyright">
                <div class="container-fluid">
                    © 2018 Projeto desenvolvido durante o Fullstack Academy - <a href="https://www.devpleno.com">DevPleno</a>
                </div>
            </div>
        </footer>


        <!-- JQuery -->

        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap Tool Tips -->
        <script type="text/javascript" src="/js/popper.min.js"></script>

        <!-- Bootstrap Core Js -->

        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

        <!-- Mdb Core Js -->

        <script type="text/javascript" src="/js/mdb.min.js"></script>

    </body>

</html>
