<ul class="navbar-nav mr-auto">

    <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Grupos</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Classificação</a>
    </li>

    <% if (user) { %>

    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <%= user.name %>

        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <% if (user.role === "root") { %>

            <a class="dropdown-item" href="/admin/games">Gerencias Jogos</a>

            <% } %>

            <a class="dropdown-item" href="#">Action 1</a>

            <a class="dropdown-item" href="#">Action 2</a>

            <a class="dropdown-item" href="#">Action 3</a>

            <a class="dropdown-item" href="/logout">Logout</a>
        </div> <!-- Dropdown Menu -->

    </li>

    <% } else { %>

    <li class="nav-item">
        <a class="nav-link" href="/login">Entrar</a>
    </li>

    <% } %>

</ul>
